<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    testdox="true"
    bootstrap="vendor/autoload.php"
    colors="true"
    verbose="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    stopOnError="false"
    stopOnFailure="false"
    stopOnIncomplete="false"
    stopOnSkipped="false"
    stopOnRisky="false"
    beStrictAboutTestsThatDoNotTestAnything="true"
    beStrictAboutTodoAnnotatedTests="true"
    processIsolation ="false"
    forceCoversAnnotation="true"
    >

    <!-- beStrictAboutTestsThatDoNotTestAnything="true" para marcar testes sem asserts como riscos -->
    <!-- beStrictAboutTodoAnnotatedTests="true" para marcar @todo como risco -->
    <!-- beStrictAboutCoversAnnotation="true" para marcar que todos testes sem @covers ou que cobrem trechos não especificados como risco -->

  <testsuite name="tests">
      <directory suffix="Test.php">tests</directory>
  </testsuite>
  <filter>
      <whitelist processUncoveredFilesFromWhitelist="true">
          <directory suffix=".php">src</directory>
      </whitelist>
  </filter>
</phpunit>
